body {
	background-color: #ddc4c4;
    font-family: 'Playfair Display SC', serif;
	color: #4e4b4b;
}
#subhead {
    font-size: 160%;
}

#hangman-intro {
	font-size: 270%;
	margin-top: 25px;
}

#gameContainer {
	margin-top: 10px;
	padding: 30px;
}

#leftColumn {
	border: 1px solid #4e4b4b;
	padding: 30px;
}

#rightColumn {
	border: 1px solid #4e4b4b; 
	padding: 30px;
}

#currentWord {
	text-align: center;
}

#theWord {
	font-size: 160%;
	background-color: #252525; 
	line-height: 2.5;
	border-radius: 5px;
	margin-bottom: 20px;
}

#wins, #remGuesses, #guessedLetters {
	height: 40px;
	font-size: 160%;
	line-height: 40px;
}
